@import '../../../../sass/colors.scss';

.TextbookPage {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 10px;

  &__pagination {
    margin: 30px 0;
    display: flex;
    max-width: 480px;

    li,
    .previous,
    .next {
      width: 30px;
      min-width: 30px;
      height: 30px;
      padding: 0;
      margin: 0 10px;
      cursor: pointer;
      transition: all 0.2s;
      border-radius: 50%;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
      color: $grey;
      border: none;

      &:hover {
        // transform: scale(1.1);
        box-shadow: 0 0 5px 2px $secondary;
      }
    }

    .previous,
    .next {
      &:hover {
        color: $blue;
      }
    }

    .active {
      color: $white;
    }
  }
}
