@font-face {
  font-family: 'fontello';
  src: url('../assets/fonts/fontello.ttf');
  font-weight: normal;
  font-style: normal;
}

.page {  
  padding: 10vh 0 0;
  width: 100vw;
  height: 100%;
  background: linear-gradient(0,hsl(273, 100%, 71%), hsl(213, 100%, 71%) );
}

.results {
  margin: auto;
  padding: 15px 10px 30px;
  max-width: 760px;
  max-height: 70vh;  
  background-color: #fdfeff;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  margin: 0 0 10px;
  font-size: 24px;
  font-weight: 700;
  color: #5183e7;
  text-align: center;
  text-transform: uppercase;
}

.info {
  margin: 0 0 25px;
  font-size: 16px;
  font-weight: 700;
  color: #5183e7;
  text-align: center;
  text-transform: uppercase;
}

.answers {
  margin-bottom: 15px;
  padding: 0 22px;
  width: 80%;
  overflow-y: scroll;
  box-sizing: border-box;
}

.answersTitle {
  margin: 0 0 10px;
  font-size: 16px;
  font-weight: 700;
  color: #5183e7;
  text-align: center;
  text-transform: uppercase;
}

.answersBlock {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.soundBtn {
  width: 20px;
  height: 20px;
  font-size: 20px;
  color: #616161;
  background-color: transparent;
  border: none;
  position: relative;
}

.soundBtn:hover {
  transform: scale(1.2);
}

.soundBtn:before {
  content: '\e803';
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  text-decoration: inherit;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  top: 0;
  left: 0;
}

.soundBtn:focus {
  outline: none;
}

.buttons {
  width: 200px;
  display: flex;
  justify-content: center;
}

.btn {
  margin-left: 5px;
  padding: 5px;
  width: 100px;
  color: #fff;
  text-align: center;
  background-color: #5183e7;
  border-radius: 5px;
  border: none;
}
.btn:hover {
  background-color: #82a0db;
}

@media (max-width: 375px) {
  .results {
    max-height: 80vh;  
  }

  .answers {
    padding: 0 15px;
    width: 95%;
  }

  .results {
    padding: 15px 0 30px;
  }
}
