$white: #fff;
$yellow: #ffe325;
$red: #ff0000;
$transparentWhite: #ffffff47;
$lightGrey: #d4d4d4;
$greyShadow: #808080b8;
$searchButtonBg: #ffffffad;
$blueLight: #5239ad;
$blueDark: #000050;
$lightBlueShadow: #f0f8ff;
$transparentBlack: #000000d4;
$cardShadow: #001358bf;
$lightBlue: #abd5fc;
$darkGrey: #333333;

$grey: #3b3f5c;
$grey2: #e0e6ed;
$grey3: #828282;
$shadowGrey: #bfc9d4;
$blue: #4361ee;
$borderGrey: #c4c4c4;
$bgGrey: #eaeaea;
$bgLightGrey: #f5f5f5;
