@import '../../../sass/transitions.scss';

.game-play {
  margin: 5px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  border-radius: 4px;
  width: 400px;
  height: 400px;
  background-color: #b69fb9;
  box-shadow: 0 0 5px 2px #3e2c41;

  &__upper {
    height: 30px;
    padding: 10px;
    align-self: center;

    .circle {
      border-radius: 50%;
      background-color: green;
      width: 30px;
      height: 30px;
    }
  }
  &__birds {
    align-self: center;
    display: flex;
    justify-content: left;
    height: 80px;
    position: relative;
    width: 320px;

    .line {
      position: absolute;
      width: 100%;
      height: 7px;
      background: white;
      bottom: 30%;
      left: 0;
      border-radius: 4px;
      z-index: 1;
      opacity: 0.5;
    }

    .bird {
      width: 80px;
      height: inherit;
      overflow: hidden;
      z-index: 2;
      background-position: bottom;
        background-size: contain;
        background-repeat: no-repeat;

      &.bird-1 {
        background-image: url('../../../assets/images/sprint/bird-1.png');
      }
      &.bird-2 {
        background-image: url('../../../assets/images/sprint/bird-2.png');
      }
      &.bird-3 {
        background-image: url('../../../assets/images/sprint/bird-3.png');
      }
      &.bird-4 {
        background-image: url('../../../assets/images/sprint/bird-4.png');
      }
    }
  }
  &__word, &__translation {
    font-size: 20px;
    align-self: center;
  }

  &__buttons {
    display: flex;
    justify-content: space-around;

    >button {
      width: 100px;
      height: 40px;
      cursor: pointer;
      border-radius: 4px;
      transition: $color-transition;
    }

    .right {
      background-color: green;
    }
    .wrong {
      background-color: red;
    }
  }
}