@import '../../../../sass/colors.scss';

.WorldList {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 1200px;
  width: 100%;
  font-size: 16px;
  background-color: $white;
  color: $grey4;

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    width: 100%;
    min-height: 50px;
    height: max-content;
    border-bottom: 1px solid $grey2;

    &_head {
      background-color: $bgGrey;
      border: none;
    }
  }
}

.WorldListItem {
  &__image,
  &__transcription,
  &__word,
  &__wordTranslate,
  &__audiochallenge,
  &__wordconstructor,
  &__savannah,
  &__sprint,
  &__difficult-words,
  &__delete-words {
    min-width: 100px;
    width: 100px;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
  }

  &__wordTranslate {
    .word-card__word-translate {
      font-size: 18px;
      margin: 0;
    }
  }
  &__transcription {
    width: 120px;
  }

  &__difficult-words,
  &__delete-words {
    button {
      background: none;
    }
  }

  &__word {
    position: relative;
    padding-left: 40px;
    width: 150px;
    color: $grey;

    .word-sound-btn {
      position: absolute;
      text-align: start;
      left: 10px;
    }
  }
}
