@import '../../sass/colors.scss';

.game-settings {
  padding: 35px 20px;
  width: 100%;
  max-width: 720px;
  pointer-events: auto;
  background-color: $white;
  background-clip: padding-box;
  border: 1px solid #00000033;
  border-radius: .3rem;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;

  &__item {
    margin: 10px;
    padding: 0 15px;
  }

  &__input {
    margin: 0 5px;
    vertical-align: middle;
    cursor: pointer;
  }

  &__close-btn {
    font-size: 20px;
    color: $grey3; 
    line-height: 1;
    position: absolute;
    top: 10px;
    right: 10px;
  }
}
