@import '../../sass/colors.scss';
@import '../../sass/breakpoints.scss';

.WordConstructor {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(40deg, #6e327a, #075850 70%);

  &__start {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0 0;

    &-title {
      color: $white;
      margin-top: 5%;
    }

    &-select {
      width: 200px;
      margin-top: 10px;
      background-color: $white;
      text-align: center;
      border-radius: 6px;
      cursor: pointer;

      &-title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin-top: 30px;
        color: $white;
      }
    }

    &-button {
      width: 200px;
      height: 50px;
      padding: 10px;
      margin-top: 30px;
      background-color: $white;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 6px;
      cursor: pointer;
    }
  }

  &__play {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    align-items: center;
    position: relative;

    &-startTimer {
      width: 150px;
      height: 150px;
      color: $white;
      font-size: 36px;
      margin: 0 auto;
      background-image: url('./assets/spinner-green.svg');
      background-size: contain;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &-header {
      width: 100%;
      min-height: 100px;
      color: $white;
      font-size: 24px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      position: absolute;
      top: 0;
      left: 0;

      &Timer {
        width: 80px;
        height: 80px;
        background-image: url('./assets/spinner-green.svg');
        background-size: contain;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      &Score {
      }

      &Controls {
        display: flex;
        background: none;

        &Volume,
        &Cancel {
          cursor: pointer;
          padding: 5px;
          background: none;
          border: none;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          outline: none;

          &:hover {
            background-color: rgba($color: $white, $alpha: 0.3);
          }
        }
      }
    }

    &-main {
      min-width: 600px;
      max-width: 600px;
      min-height: 370px;
      border-radius: 5px;
      border: 2px solid $white;
      color: $white;
      position: relative;
      padding: 20px 10px 0;
      margin: 50px auto 0;

      &_good {
        animation: show1 0.2s forwards;
      }

      &_error {
        animation: show2 0.2s forwards;
      }

      &Lives {
        position: absolute;
        top: 10px;
        left: 5px;

        img {
          margin-left: 3px;
        }
      }

      &PlayWord {
        position: absolute;
        top: 5px;
        right: 5px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-image: url('./assets/sound.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        transition: all 0.3s;

        &:hover {
          cursor: pointer;
          background-color: rgba($color: $white, $alpha: 0.1);
        }
      }

      &Word {
        min-height: 50px;
        margin: 30px;
        font-size: 26px;
        letter-spacing: 1px;
        text-align: center;
        text-transform: uppercase;
      }

      &WordArr {
        border-radius: 6px;
        min-height: 50px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        padding: 10px;
        background-color: rgba($color: $white, $alpha: 0.6);

        &Item {
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          color: $grey;
          width: 20px;
          height: 30px;
          border-bottom: 2px solid #000;
          text-align: center;
          margin: 1px;
          transition: 0.5s;
          border-radius: 20%;
          user-select: none;
        }
      }

      &WordLetters {
        border-radius: 6px;
        min-height: 50px;
        display: flex;
        justify-content: center;
        margin-top: 20px;
      }

      &Letter {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $grey;
        font-size: 14px;
        background-color: hsla(0, 0%, 100%, 0.85);
        border: 1px solid #fff;
        margin: 2px;
        width: 40px;
        height: 40px;
        cursor: pointer;

        &Num {
          font-size: 10px;
          position: absolute;
          top: 0;
          right: 0;
          color: $blue;
        }
      }

      &Level {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 50px 0 10px;
      }

      &Success {
        position: relative;
        height: 20px;
        border: 2px solid red;
        border-radius: 5px;

        &Width {
          height: 100%;
          transition: all 0.3s;
          background-color: aquamarine;
        }
      }
    }
  }

  &__result {
    position: relative;
    margin-top: 3%;
    max-width: 600px;
    min-width: 280px;
    margin: 5%;
    padding: 10px;
    width: 100%;
    min-height: 280px;
    max-height: 640px;
    border: 2px solid $white;
    border-radius: 5px;
    background-color: rgba($color: $white, $alpha: 0.1);
    box-shadow: 0 0 1px $white;
    transition: 0.5s;

    &Statistic {
      display: block;
      min-width: 260px;
      min-height: 100px;
      max-height: 400px;
      margin: 0 auto;
      border: 2px solid $white;
      border-radius: 5px;
      background-color: $white;
      overflow-y: scroll;
    }

    &Score {
      font-size: 36px;
      color: $white;
      text-align: center;
      margin-bottom: 20px;
    }

    &Errors {
      margin: 5px;
      padding-bottom: 10px;
      border-bottom: 2px solid $grey;

      &BadName {
        font-size: 18px;
        padding-bottom: 10px;
        font-weight: 600;
        color: $red;
      }
    }

    &Good {
      margin: 5px;
      padding-bottom: 10px;

      &Name {
        font-size: 18px;
        padding-bottom: 10px;
        font-weight: 600;
        color: $green;
      }
    }

    &Word {
      font-size: 16px;
      font-weight: 700;
      border: none;
      background: none;
      margin-right: 5px;

      &:hover {
        color: $blue;
      }

      &Block {
        display: flex;
        align-items: center;
        padding: 2px;
      }

      &Translate {
        font-style: italic;
        font-size: 16px;
      }
    }

    &WordAudio {
      width: 20px;
      height: 20px;
      margin-right: 5px;
      transition: 0.3s;
      background: none;
      border: none;

      &:hover {
        transform: scale(1.2);
      }
    }

    &Controls {
      display: flex;
      flex-direction: column;
      justify-content: center;

      &Continue,
      &Cancel {
        width: 260px;
        height: 32px;
        color: $white;
        background: #ffffff42;
        padding: 5px;
        font-size: 18px;
        text-transform: uppercase;
        margin: 10px auto;
        text-align: center;
        text-decoration: none;
        transition: 0.2s;
        border: none;
        cursor: pointer;
        border-radius: 5px;

        &:hover {
          box-shadow: 0 0 3px $white;
        }
      }

      &Cancel {
      }
    }
  }
}

@keyframes show1 {
  0% {
    box-shadow: 0 0 0px #41f778;
  }
  50% {
    box-shadow: 0 0 30px #41f778;
  }
  100% {
    box-shadow: 0 0 0px #41f778;
  }
}

@keyframes show2 {
  0% {
    box-shadow: 0 0 0px #f74150;
  }
  50% {
    box-shadow: 0 0 30px #f74150;
  }
  100% {
    box-shadow: 0 0 0px #f74150;
  }
}
