@import '../../../sass//breakpoints.scss';

@keyframes move-highlight {
  0% {
      text-shadow: rgb(255, 255, 255) 0 0 0;
      letter-spacing: 0;
  }

  94% {
      text-shadow: rgb(255, 255, 255) 0 0 0;
      letter-spacing: 0;
  }

  100% {
      text-shadow: rgb(255, 255, 255) 0 0 20px;
      top: 50%;
      letter-spacing: 2rem;
  }
}

.savannah {
  @media (max-width: $size-md) {
    flex-direction: column;
    justify-content: flex-end;
  }

  &__game-wrapper {
    margin-top: 120px;

    @media (max-width: $size-md) {
      margin-top: 300px;
    }
  }

  &__current-word {
    display: inline-block;
    position: absolute;
    color: transparent;
    top: 50px;
    transform: translate(-50%, 50%);
    left: 50%;
    height: 2.75rem;
    width: 15rem;
    font-size: 24px;
    text-align: center;
    animation: move 5s linear;
    animation-direction: normal;
    animation: move-highlight 5s linear;
    animation-fill-mode: forwards;
    text-shadow: rgb(255, 255, 255) 0 0 0;
  }
}