@import '../../sass/colors.scss';

.answers-list {
  padding: 0 20px;

  &__item {
    padding: 5px;
    border: 1px solid transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;

    &-content {
      margin: 0;
      width: 40%;
      font-size: 16px;
      line-height: 1;
      display: flex;
      align-items: center;
    }

    &:hover {
      border: 1px solid $grey;
      border-radius: 5px;
    }
  }
}
